.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    &__filters {
        display: flex;
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 600;

        &--user,
        &--repos {
            display: flex;
        }

        div {
            margin: 0 1rem;
            display: flex;
            align-items: center;
        }

        select {
            padding: 2px 1rem;
            margin-left: 4px;
            border-radius: 4px;
            font-size: 1.2rem;
        }
    }
}

.search-options {
    font-size: 2rem;
    display: flex;

    &__types {
        border: 1px #444 solid;
        border-radius: 6px;
        margin-left: 1rem;
        display: flex;

        button {
            cursor: pointer;
            display: block;
            padding: 0.2rem 1rem;
            background-color: #f1f5f8;
            transition: 0.1s;
            font-size: 1.5rem;
            border: none;

            &:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-of-type {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &:hover {
                background-color: #118ab2;
                color: #fff;
            }
        }

        .active {
            background-color: #05668d;
            color: #fff;
        }
    }
}

.search-bar {
    display: flex;
    width: 800px;
    border-radius: 12px;
    height: 3rem;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;

    input {
        border: 1px solid transparent;
        width: 80%;
        padding: 0 1rem;
        background-color: transparent;
        outline: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        font-size: 1.5rem;

        &:focus {
            border-color: #05668d;
        }
    }

    &__btn {
        border: none;
        background-color: transparent;
        width: 20%;
        background-color: #05668d;
        color: #fff;
        font-size: 1.5rem;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        outline: none;

        &:hover {
            background-color: #118ab2;
        }
    }
}

.pagination {
    display: flex;
    margin: 2rem 0;

    &__btn {
        border: none;
        background-color: transparent;
        background-color: #05668d;
        color: #fff;
        font-size: 1.5rem;
        outline: none;
        height: 2rem;
        width: 7rem;
        margin: 0 1rem;
        border-radius: 4px;

        &:hover {
            background-color: #118ab2;
        }

        &:disabled {
            background-color: #8fabb4;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 850px) {
    .search {
        &__search-container {
            width: 90%;
        }
        .search-bar {
            width: 100%;
        }

        &__filters {
            flex-direction: column;
            align-items: center;

            &--user,
            &--repos {
                flex-direction: column;
            }

            div {
                margin: 0.3rem 0;
            }
        }
    }
}

@media (max-width: 630px) {
    .search {
        &__type {
            flex-direction: column;
        }

        &__types {
            margin: 0.5rem 0;
        }
    }
    .search-bar {
        &__btn {
            min-width: 120px;
        }
    }

    .search-options {
        flex-direction: column;
        align-items: center;
    }
}
